.features {
  &__1 {
    background-color: $color-green-light;
    grid-column: full-start / full-end;
    grid-row: 5 / 6;
    -webkit-clip-path: polygon(24% 21%, 76% 13%, 100% 0, 100% 83%, 0 100%, 0% 50%);
    clip-path: polygon(24% 21%, 76% 13%, 100% 0, 100% 83%, 0 100%, 0% 50%);
    margin-top: -45rem;

    @media only screen and (max-width: $bp-5) {
      -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
      clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
      margin-top: 0;
      // margin-top: -30rem;
    }

    // @media only screen and (max-width: $bp-6) {
    //   -webkit-clip-path: polygon(44% 18%, 63% 13%, 100% 8%, 100% 85%, 0 100%, 0 22%);
    //   clip-path: polygon(44% 18%, 63% 13%, 100% 8%, 100% 85%, 0 100%, 0 22%);
    //   margin-top: -35rem;
    //   margin-bottom: -5rem;
    // }
    

    &--create-page {
      margin-top: 0;
      -webkit-clip-path: polygon(0 30%, 100% 30%, 100% 79%, 0 79%);
      clip-path: polygon(0 30%, 100% 30%, 100% 79%, 0 79%);

      @media only screen and (max-width:$bp-3) {
        -webkit-clip-path: none;
        clip-path: none;
      }
       
    }
  }
  
  &__2 {
    grid-column: center-start / center-end;
    grid-row: 5 / 6;
    z-index: 2;
    margin: 15rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5rem;
    padding-bottom: 15rem;
    transition: $transition-2;

    @media only screen and (max-width: $bp-5) {
      grid-template-columns: 30rem;
      justify-content: center;
      padding-bottom: 0;
      grid-gap: 7rem;
      margin: 10rem 0;
    }

    &--create-page {
      background-color: $color-green-light;
      grid-column: full-start / full-end;
      padding: 10rem;
      margin: 0;
      // margin-bottom: 5rem;
    }
  }

  &__content {

    display: grid;

    @media only screen and (max-width: $bp-7) {
      justify-items: center;
    }
  }

  &__box-icon {
    width: 10rem;
    height: 10rem;
    background-color: $color-grey-light-1;
    border-radius: 50%;
    @include grid-center-1;
    margin-bottom: 3rem;
    transition: $transition-2;
  }

  &__icon {
    width: 6rem;
    height: 6rem;
    fill: $color-green-light;
  }
}