.btn {

  padding: 1.5rem 3rem;
  border: none;
  text-transform: uppercase;
  background-color: $color-green-light;
  color: $color-grey-light-1;
  box-shadow: $bx-sw-2;
  cursor: pointer;
  transition: $transition-1;

  @media only screen and (max-width: $bp-3) {
    padding: 1rem 2rem;
  }

  @media only screen and (max-width: $bp-6) {
    font-size: 1.2rem;
  }

  &:hover,
  &:active {
    background-color: $color-grey-light-1;
    color: $color-green-light;
    transform: scale(1.03);
    box-shadow: $bx-sw-5;
  }

  &:focus {
    box-shadow: $bx-sw-2;
    transform: scale(1);
  }


  // &--header {

  // }

  
}

.btn-hamburger {

  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
  margin-right: 3rem;

  @media only screen and (max-width: $bp-6) {
    display: block;
  }

  &__icon {
    width: 3rem;
    height: 3rem;
    fill: $color-tirquize-dark;
  }

  &:focus {
    outline: none;
  }
}