.form {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  margin-right: 2rem;

  @media only screen and (max-width: $bp-6) {
    margin: 0;
  }

  &__input {
    border: none;
    background-color: $color-grey-light-1;
    padding: 1rem 1.5rem;
    width: 20vw;
    transition: $transition-1;

    @media only screen and (max-width: $bp-3) {
      padding: .8rem 1rem;
      width: 15vw;
    }

    @media only screen and (max-width: $bp-6) {
      width: 55vw;
    }

    &::placeholder {
      color: $color-green-dark;
      font-size: 1.5rem;

      @media only screen and (max-width: $bp-3) {
        font-size: 1.2rem;
      }
    }

    &:focus {
      width: 22vw;
      outline: none;

      @media only screen and (max-width: $bp-6) {
        width: 65vw;
      }
    }
  }

  &__btn {
    border: none;
    background-color: $color-grey-light-1;
    cursor: pointer;
  }

  &__icon {
    width: 1.7rem;
    height: 1.7rem;
    fill: $color-green-dark;
    margin-right: 1rem;

    @media only screen and (max-width: $bp-3) {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

}

.form-create-page {
  grid-column: center-start / center-end;
  margin: 5rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 5rem;
  align-items: center;
  justify-items: center;

  @media only screen and (max-width: $bp-6) {
    margin-bottom: -25rem;
  }

  &__input-box,
  &__checkbox-box,
  &__radio-box,
  &__textarea {
    grid-column: 1 / -1;
    display: grid;
  }

  &__input-box {
    grid-template-columns: repeat(3, 30rem);
    grid-gap: 3rem;
    // justify-self: stretch;
    // grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));

    @media only screen and (max-width: $bp-3) {
      grid-template-columns: 40rem;
      // justify-self: center;
    }
  }

  &__checkbox-box,
  &__radio-box {
    grid-template-columns: min-content max-content;
    column-gap: 8rem;
    row-gap: 2rem;
    font-size: 2rem;
    font-weight: $fw-7;
    color: $color-tirquize-dark;
  
    @media only screen and (max-width: $bp-7) {
      font-size: 1.5rem;
    }
  }

  &__checkbox-box {
  
    @media only screen and (max-width: $bp-7) {
      column-gap: 4rem;
      row-gap: 1.5rem;
    }
  }
  
  &__radio-box {
  
    @media only screen and (max-width: $bp-7) {
      column-gap: 2rem;
    }
  }

  &__select {
    grid-column: 1 / -1;
    width: 50rem;
    color: $color-green-light;
    font-weight: $fw-7;
    text-transform: uppercase;
  
    @media only screen and (max-width: $bp-7) {
      width: 30rem;
      margin: 0 3rem;
    }
  }

  &__option {
    // color: $color-tirquize-dark;
    font-weight: $fw-7;
    text-transform: capitalize;
  }

  &__checkbox,
  &__radio {
    display: none;
  }

  &__label {
    display: flex;
    align-items: center;

    &-span {

      &--checkbox,
      &--radio {

        margin-right: 1.5rem;
        width: 4rem;
        height: 4rem;
        border: .5rem solid $color-green-light;
        display: grid;
        align-items: center;
        justify-content: center;
  
        @media only screen and (max-width: $bp-7) {
          width: 3rem;
          height: 3rem;
        }
    
        &::after {
          content: "";
          width: 2rem;
          height: 2rem;
          background-color: $color-tirquize-dark;
          opacity: 0;
  
          @media only screen and (max-width: $bp-7) {
            width: 1.2rem;
            height: 1.2rem;
          }
        }

      }

      &--radio {

        border-radius: 50%;
    
        &::after {
          border-radius: 50%;
        }
  
        @media only screen and (max-width: $bp-7) {
          margin-right: .8rem;
        }

      }

    }    
    
  }

  &__input {
    text-align: center;
  }

  &__input,
  &__textarea,
  &__select {
    border: none;
    padding: 1.5rem 3rem;
    color: $color-tirquize-dark;

    &::placeholder {
      color: $color-green-light;
    }

    &:focus {
      outline: none;
    }
  }

  &__radio:checked + &__label--radio &__label-span--radio::after {
    opacity: 1;
  }

  &__checkbox:checked + &__label--checkbox &__label-span--checkbox::after {
    opacity: 1;
  }

  // &__read-1 {
  //   grid-column: 1 / -1;
  //   display: flex;
    // flex-wrap: wrap;
    // border: .1rem solid $color-green-light;
    // border-radius: .5rem;
    // overflow: hidden;
    // font-size: 1rem;
  // }

  // &__read-box {
  //   display: flex;
  //   flex-direction: column;
    // flex-basis: max-content; ne radi!
    // display: grid;

    // .table-header {
    //   text-transform: uppercase;
    //   background-color: $color-tirquize-dark;
    //   color: $color-grey-light-1;
    //   font-weight: $fw-7;
    //   padding: 1rem;
    //   display: flex;
    //   justify-content: center;
      
      // &--2 {
      //  width: max-content; 
      // }

    // }

    // .table-data {
    //   color: $color-tirquize-dark;
    //   padding: 0.5rem 1rem;
    //   border: .1rem solid $color-green-light;

      // &--2 {
      //   width: max-content;
      // }

  //   }
  // }

  &__table-read-page-1,
  &__table-read-page-2,
  &__table-delete-page-1,
  &__table-delete-page-2 {
    grid-column: 1/ -1;
    border: .1rem solid $color-green-light;
    border-radius: .5rem;
    overflow: hidden;

    .table-header {
      text-transform: uppercase;
      background-color: $color-tirquize-dark;
      color: $color-grey-light-1;
      font-weight: $fw-7;
      padding: 1rem 1.5rem;
      display: grid;
      justify-items: center;
    }

    .table-data {
      color: $color-tirquize-dark;
      padding: 1rem 1.5rem;
      border: .1rem solid $color-green-light;
      display: grid;
      justify-items: center;
    }
  }

  

  &__textarea {
    width: 60rem;
    height: 30rem;

    @media only screen and (max-width: $bp-5) {
      width: 40rem;
      height: 20rem;
    }
  }

  &__table-read-page-1,
  &__table-delete-page-1 {
    display: grid;   

    @media only screen and (max-width: $bp-3) {
      display: none;
    }
  }

  &__table-read-page-1 {
    grid-template-columns: max-content repeat(6, min-content);
  }

  &__table-delete-page-1 {
    grid-template-columns: max-content repeat(7, min-content);
  }

  &__table-read-page-2,
  &__table-delete-page-2 {
    display: none;

    .table-box {
      display: grid;
    }

    @media only screen and (max-width: $bp-3) {
      display: grid;
      grid-template-columns: max-content 35rem;
    }

  }

  &__table-delete-page-1,
  &__table-delete-page-2 {

    .delete-user {
      text-decoration: none;
      align-self: center;
      color: $color-orange-dark;
      font-weight: $fw-7;
      text-transform: uppercase;
    }
  }
}

