.par {

  line-height: $line-height-3;  

  &--green {
    color: $color-green-light;
  }

  &--white {
    color: $color-grey-light-1;
  }

  &--features{
  
    @media only screen and (max-width: $bp-7) {
      width: 20rem;
      text-align: center;
    }
  }

}